* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 177, 103);
}


h1 {
	position: relative;
	z-index: 999;
	padding: 25px 0 14px 0;
    box-shadow: 0 0 10px 0 rgba(247, 244, 244, 0.12);
    background-color: rgb(241, 187, 106);
    text-align: center;
    color: blue
}

